*{
  background-color: #c2a686;
}

h1 {
  font-size: 2rem;
  color:#A96762;
  font-weight: 600;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  color:#14365D;
}

h3 {
  font-size: 1.3rem;
  color:#A96762;
}

a {
  background-color: #A96762;
  color: #c2a482;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
}
